/* Définition police*/
@font-face 
{
    font-family:'Raleway';
    src: url('raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
/*Elements principaux de la page*/

body 
{
    font-family: "Raleway", "Arial", "Helvetica", "sans-serif";
    margin-right: 50px;
    margin-left: 50px;
}
/* header*/
header 
{
    display: flex;
    border: 10px solid grey;
   
}


#menu
{
border: 3px solid maroon;
display: inline-block;
width: 50%;
}

/* Navigation*/
nav  
{
    border: 2px solid red;
    display: inline-block;
    width: 50%;
    
}

nav a 
{
    color: black;
    text-decoration: none;     
}


nav a:hover 
{
    color: #0065fc;
    border-top: solid; 
}


nav ul
{
    list-style-type: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav li
{
margin: 10px;
}





#topsection
{
    border: 3px solid blue;
}

/*--formulaire--*/
#formulaire
{
    border: solid black;
    border-radius: 10px;
    margin-top: 2px 1px 2px 1px;
    margin-right: 450px;
}
.bouton
{
    
    border-radius: 0 10px 10px 0;
    padding: 2px;
    color: white;
    background-color: #0065fc;
}

.fas.fa-map-marker-alt
{
    
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    
}


/*--filtres--*/
#filtres
{
display: flex;
flex-direction: row;
justify-content: space-around;
border: 3px solid red;
}

.fas.fa-money-bill-wave
{
    border-radius: 50px;
    background-color: #DEEBFF;
    color: #0065fc;
}

.fas.fa-child
{
    border-radius: 50px;
    background-color: #DEEBFF;
    color: #0065fc;  
}
.fas.fa-heart
{
    border-radius: 50px;
    background-color: #DEEBFF;
    color: #0065fc;  
}
.fas.fa-dog
{
    border-radius: 50px;
    background-color: #DEEBFF;
    color: #0065fc;   
}
#filtres .economique 
{
    font-weight: 600;
}
#filtres .familial
{
    font-weight: 600;
}
#filtres .romantique
{
    font-weight: 600;
}
#filtres .animaux
{
    font-weight: 600;
}
/*---icones--*/
.fas.fa-star /*--etoiles--*/
{
    color: #0065fc;
}

.fas.fa-star.color-grey
{
    color:grey;
}

.fas.fa-info /*--info--*/
{
    border-radius: 50px;
    background-color: #DEEBFF;
    color: #0065fc; 

}
/*--hebergements--*/
#hotels
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.hotels
{
    display: flex;
    justify-content: space-between;
}

#Hebergements
{
    border: 3px solid pink;
    background-color: #F2F2F2;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 885;
    height: 612;
}
.hebergements
{
    display: flex;
    justify-content: space-around;

}
.hebergements .image
{
    width: 200px;
    height: 200px;
}



#Hebergements .carte .image
{
    display:block;
    width: 100%;
}
#Hebergements .carte .titre
{
    display:block;
    font-weight: 600;
}
#Hebergements .carte .prix
{
    display:block;
}
#Hebergements .carte
{
    display:block;
    width: 33%;
    border-radius: 10px white;
    background-color: white;
   
}



/*--populaire--*/
#Populaires
{
    border: 3px solid purple;
    background-color: #F2F2F2;
}
#Populaires .lieu
{
    display: block;
}
#Populaires .lieu .image
{
    display:block;
    width: 100%;
}

#Populaires .lieu .titre
{
    display: block;
    font-weight:600;
}

#Populaires .lieu .prix
{
    display: block;
}

.afficher 
{
    font-weight:600;
}
.fas.fa-chart-line /*--icone--*/
{ 
    color: black;
}



/*--activtes--*/
#activites
{
    border: 3px solid green; 
    display: block;
}

#activites .description
{
    display: block;
    font-weight: 600;
}

/*--Footer--*/
footer 
{
    border: 3px solid orange; 
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;

   
}