/* Définition police*/
@font-face 
{
    font-family:'Raleway';
    src: url (raleway/Raleway-Regular.ttf) format (truetype);
    font-weight: normal;
    font-style: normal;
}
 
/*Elements principaux de la page*/

body 
{
    font-family: "Raleway", "Arial", "Helvetica", "sans-serif";
   
}



/* Navigation*/


nav  {

  border: 2px solid red;
  margin-left: 1000px;


}

nav a {
    color: #0065fc;
    text-decoration: none;
       
}


nav a:hover {
    color: #0065fc;
    text-decoration: underline;
  
}


nav ul{
    list-style-type: none;
    margin: auto;
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
  

}

nav li
{
margin: 10px;

}


/* header*/

header {


border: 10px solid grey;

}

#menu
{
border: 3px solid maroon;

}

#topsection
{

    border: 3px solid blue;
}
#formulaire
{

    border: 3px solid yellow;
}

#filtres

{
display: flex;
flex-direction: row;
justify-content: space-around;
border: 3px solid red;

}

.fas 
{
    color: #0065fc;

}
